@import "../../../styles/fonts.scss";
@import "../../../styles/colors.scss";

.folder-outer {
  font-family: $font_tnr;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  caret-color: transparent;
  align-items: center;
  justify-items: flex-end;
  padding: 0.25rem;
  border: solid 0.1rem transparent;
  .folder-icon {
    width: 2rem;
    height: 3rem;
    padding: 0 0.5rem;
    background-image: url("../../../assets/images/folder_win7.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .folder-details {
    display: flex;
    flex-direction: column;
    .folder-name {
      font-size: 1rem;
      text-align: left;
      display: block;
      width: 7rem;
      padding: 0 0 0 0.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  &:hover {
    background-color: $folder-hover;
    border: solid 0.1rem $folder-hover-border;
    cursor: pointer;

  }
}
